{% extends 'base.html' %}

{% block content %}
<section>
    <h1>Labor and Industry Classifications</h1>
    <!-- <p><a class="action-button" href="{% url 'atom:labor_class_add' %}">+ Add a new Class</a></p> -->
    {% if labor_classes %}
        <table class="labor-class">
            <thead>
                <th>Number</th>
                <th>Name</th>
                <th>Description</th>
                <th>Company rate</th>
                <th>Employee rate</th>
            </thead>
            <tbody>
                {% for i in labor_classes %}
                    <tr>
                        <td>{{ i.number }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.description }}</td>
                        <td>${{ i.company_rate }}</td>
                        <td>${{ i.employee_rate }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no Classes yet.</p>
    {% endif %}
</section>
<section>
    <h1>Labor Item Numbers</h1>
    <!-- <p><a class="action-button" href="{% url 'atom:labor_item_add' %}">+ Add a new Labor Item</a></p> -->
    {% if labor_groups %}
        {% for group in labor_groups %}
            <table class="labor-item">
                <thead>
                    <h3>{{ group }}</h3>
                </thead>
                <tbody>
                    <tr>
                        <th>Number</th>
                        <th>Description</th>
                    </tr>
                {% for item in group.laboritem_set.all %}
                    <tr>
                        <td>{{ item.number }}</td>
                        <td>{{ item.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>There are no Labor items yet.</p>
    {% endif %}
</section>
{% endblock %}