{% extends 'base.html' %}

{% block content %}
    <section>
        <h1>Timecard</h1>
        <h2>{{ timecard.pay_period_start }} through {{ timecard.pay_period_end }}</h2>

        <h3>Employee: {{ user.first_name }} {{ user.last_name }}</h3>
        {% if tasks %}
            <table>
                <thead>
                    <tr class="task">
                        <th>Date</th>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>LI number</th>
                        <th>L&I class</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr class="task">
                        <td>{{ task.date }}</td>
                        <td>{{ task.project }}</td>
                        <td><a href="{% url 'kronos:detail' task.id %}">{{ task.description }}</a></td>
                        <td>{{ task.start_time }}</td>
                        <td>{{ task.end_time }}</td>
                        <td>{{ task.labor_item_number }}</td>
                        <td>{{ task.li_class }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p><em>You have no tasks</em></p>
        {% endif %}
        <p>
            <a href="{% url 'kronos:addtask' timecard.id %}">+ Add new task</a>
        </p>
    </section>
    <section>
        <form method="post" action="{% url 'kronos:update' timecard.id %}">
            {% csrf_token %}
            <input type="hidden" name="complete" value="1">
            <p>
                <label for="submission_notes">Submission notes:</label>
                <br>
                <textarea name="submission_notes" placeholder="Anything you'd like to tell the manager about your timecard?"></textarea>
            </p>
            <p>
                <input type="submit" value="Submit for review">
            </p>
        </form>
    </section>
{% endblock %}
