{% extends 'base.html' %}

{% block content %}
    <h1>Wallyworks</h1>

    <section>
        <h3>Your current timecard</h3>
        {% if timecards %}
            <ul>
            {% for tc in timecards %}
                <li>
                    <a href="{% url 'kronos:detail' tc.id %}">{{ tc.pay_period_start }} through {{ tc.pay_period_end }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p><em>You have no current timecard</em></p>
        {% endif %}

        <p>
            <a href="{% url 'kronos:add timecard' %}">+ Add a new Timecard</a>
        </p>
    </section>
    <section>
        <h3>Your completed timecards</h3>
        {% if complete_timecards %}
            <ul>
            {% for tc in complete_timecards %}
                <li>
                    <a href="{% url 'kronos:detail' tc.id %}">{{ tc.pay_period_start }} through {{ tc.pay_period_end }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p><em>You have no current timecard</em></p>
        {% endif %}

        <p>
            <a href="{% url 'kronos:completed' %}">See all completed timecards</a>
        </p>
    </section>
{% endblock %}
