{% extends 'base.html' %}

{% block content %}
    <h1>Timecards</h1>

    <section>
        {% if timecards %}
            {% for tc in timecards %}
                <p class="timecard_card">
                    <a class="card" href="{% url 'kronos:timecard_detail' tc.id %}">
                        <strong>{{ tc.pay_period_start|date:"M d" }} - {{ tc.pay_period_end|date:"d, Y" }}</strong><br>
                        <small>
                            {% if tc.task_set.count == 1 %}
                                {{ tc.task_set.count }} task
                            {% else %}
                                {{ tc.task_set.count }} tasks
                            {% endif %}
                        </small>
                    </a>
                </p>
            {% endfor %}
        {% else %}
            <p><em>You have no current timecard</em></p>
        {% endif %}

        <p>
            <a class="action-button" href="{% url 'kronos:timecard_add' %}">+ Add a new Timecard</a>
        </p>
    </section>
    <section>
        <p>
            <a href="{% url 'kronos:timecard_complete_index' %}">See your completed timecards</a>
        </p>
    </section>
{% endblock %}
