{% extends 'base.html' %}

{% block stylesheets %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepickr.css' %}"/>
{% endblock %}

{% block content %}
    <div class="backlink">
        <span>←</span>
        <a href="{% url 'kronos:timecard_detail' timecard_id %}">Back to timecard</a>
    </div>
<form method="post" action="{% url 'kronos:task_add' timecard_id %}">
    {% csrf_token %}
    <input type="hidden" name="employee" value="{{ user.id }}">

    <section class="detail">
        <p>
            <label for="date">Date:</label>
            <br>
            <input name="date" class="datepickr" readonly="true" placeholder="2000-01-01" required>
        </p>
        <p>
            <label for="project">Project:</label>
            <br>
            <select name="project" required>
                <option value="" selected="selected">-------</option>
                {% if projects %}
                    {% for p in projects %}
                        <option value="{{ p.id }}">{{ p.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <br>
            <small>
                Don't see the project you're looking for?
                <a href="{% url 'hq:project_add' %}">+ Add a new project</a>
            </small>
        </p>

        <p>
            <label for="start_time">Start:</label>
            <input name="start_time" type="time" placeholder="8:00" required>
        </p>
        <p>    
            <label for="end_time">End:</label>
            <input name="end_time" type="time" placeholder="12:00" required>
        </p>

        <p>
            <label for="description">Task description:</label>
            <br>
            <textarea name="description" placeholder="What did you work on?"  required></textarea>
        </p>
        <p>
            <label for="labor_item_number">Labor item number:</label>
            <br>
            {% if labor_groups %}
                <select name="labor_item_number" required>
                    <option value="" selected="selected">-------</option>
                {% for group in labor_groups %}
                    <optgroup label="{{ group.name }}">
                    {% for item in group.laboritem_set.all %}
                        <option value="{{ item.id }}">{{ item.number }}: {{ item.description }}</option>
                    {% endfor %}
                    </optgroup>
                {% endfor %}
                </select>
            {% else %}
                <p>There are no Labor items yet.</p>
            {% endif %}
        </p>
        <p>
            <label for="li_class">L&amp;I class:</label>
            <br>
            {% if li_classes %}
                <select name="li_class" required>
                    <option value="" selected="selected">-------</option>
                {% for class in li_classes %}
                    <option value="{{ class.id }}">{{ class.number }}: {{ class.name }}</option>
                {% endfor %}
                </select>
            {% else %}
                <p>There are no Labor Classes yet.</p>
            {% endif %}
        </p>
    </section>
    <input type="submit" value="Add this task">
</form>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'js/datepickr.js' %}"></script>
    <script>
        // Custom date format
        datepickr('.datepickr', { dateFormat: 'Y-m-d' });
    </script>
{% endblock %}