{% extends 'base.html' %}

{% block content %}
    <h1>Timecard</h1>
    <section>
        <h4>Task Details</h4>
        <hr>
        <p>
            {{ task.date }}<br>
            {{ task.start_time }} to {{ task.end_time }}<br>
            {{ task.project.name }} project</p>
        <blockquote>{{ task.description }}</blockquote>
        <p>LI number: <strong>{{ task.labor_item_number }}</strong></p>
        <p>L&I class: <strong>{{ task.li_class }}</strong></p>
    </section>
    <section>
        {{ task.get_hours }}
    </section>
    <section>
        <a class="delete" href="{% url 'kronos:task_delete' timecard.id task.id %}">x delete this task</a>
    </section>
{% endblock %}
