{% extends 'base.html' %}

{% block content %}
    <section class="timecard-detail">
        <h1>Task Details</h1>
        <p>
            Date <strong>{{ task.started|date:"M d" }}</strong><br>
            Project <strong>{{ task.project.name }}</strong><br>
            Started <strong>{{ task.started|date:"g:i A" }}</strong><br>
            Finished <strong>{{ task.finished|date:"g:i A" }}</strong><br>
            Total time <strong>{{ task.get_task_duration }} hrs</strong>.
        </p>
        <h4></h4>
        <p><strong>Worked on</strong>: {{ task.description }}</p>
        <p>LI number <strong>{{ task.labor_item_number }}</strong></p>
        <p>L&I class <strong>{{ task.li_class }}</strong></p>
    </section>
    <section>
        <a class="delete" href="{% url 'kronos:task_delete' timecard.id task.id %}">x delete this task</a>
    </section>
{% endblock %}
