{% extends 'base.html' %}

{% block content %}
    <h1>All timecards</h1>

    <section>
        {% if pay_periods %}
        {% for pp in pay_periods %}
            <h3>{{ pp.start|date:"M d" }} - {{ pp.end|date:"d, Y" }}</h3>
            <ul>
                {% for timecard in pp.timecard_set.all %}
                <li>
                    <a href="{% url 'kronos:timecard_review' timecard.id %}">{{ timecard.employee.first_name }} {{ timecard.employee.last_name }}</a>
                    <small>
                        {% if not timecard.reviewed %}
                            <span class="not-reviewed">&#10007; not reviewed</span>
                        {% endif %}
                    </small>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
        {% else %}
            <p><em>No timecards</em></p>
        {% endif %}
    </section>
{% endblock %}
