{% extends 'base.html' %}

{% block content %}
    <section class="timecard-detail">
        <h1>{{ timecard.employee.first_name }} {{ timecard.employee.last_name }}'s Timecard</h1>
        <h2>{{ timecard.pay_period.start|date:"M d" }} - {{ timecard.pay_period.end|date:"d, Y" }}</h2>
        {% if timecard.submission_notes %}
            <blockquote cite="{{ timecard.employee.first_name }} {{ timecard.employee.last_name }}">{{ timecard.submission_notes }}<br>
                —{{ timecard.employee.first_name }} {{ timecard.employee.last_name }}
            </blockquote>
        {% endif %}
        {% if tasks %}
            <table class="tasks">
                <thead>
                    <tr class="task">
                        <th>Date</th>
                        <th>Project</th>
                        <th>LI number</th>
                        <th>Description</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>L&I class</th>
                        <th>Task Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr class="task">
                        <td>{{ task.started|date:"M d" }}</td>
                        <td>{{ task.project }}</td>
                        <td>{{ task.labor_item_number.number }}</td>
                        <td>
                            <a href="{% url 'kronos:task_detail' timecard.id task.id %}">{{ task.description }}</a>
                        </td>
                        <td>{{ task.started|date:"g:i A" }}</td>
                        <td>{{ task.finished|date:"g:i A" }}</td>
                        <td>{{ task.li_class.number }}</td>
                        <td>{{ task.get_task_duration }} hrs.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><strong>Total hours: {{ timecard.get_total_tasks_duration }}</strong></p>
        {% endif %}
        {% if not timecard.complete %}
            <p>
                <a class="action-button" href="{% url 'kronos:task_add' timecard.id %}">+ Add new Task</a>
            </p>
        {% endif %}
    </section>
    {% if not timecard.complete %}
    <section>
        <p>Ready to submit your timecard? Leave an optional note and hit the botton below.</p>
        <form method="post" action="{% url 'kronos:timecard_complete' timecard.id %}">
            {% csrf_token %}
            <p>
                <label for="submission_notes">Submission notes:</label>
                <br>
                <textarea name="submission_notes" placeholder="Anything you'd like to tell the manager about your timecard?">{{ timecard.submission_notes }}</textarea>
            </p>
            <p>
                <input type="submit" value="Submit for review">
            </p>
        </form>
    </section>
    {% endif %}
{% endblock %}
