{% extends 'base.html' %}

{% block content %}
    <section>
        <h1>Review Timecard</h1>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        {% if timecard.submission_notes %}
            <p>{{ timecard.employee.first_name }} said...</p>
            <blockquote>{{ timecard.submission_notes }}</blockquote>
        {% endif %}
        <h3>{{ timecard.pay_period_start }} through {{ timecard.pay_period_end }}</h3>

        {% if tasks %}
            <table>
                <thead>
                    <tr class="task">
                        <th>Date</th>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>LI number</th>
                        <th>L&I class</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr class="task">
                        <td>{{ task.date }}</td>
                        <td>{{ task.project }}</td>
                        <td><a href="{% url 'kronos:timecard_detail' task.id %}">{{ task.description }}</a></td>
                        <td>{{ task.start_time }}</td>
                        <td>{{ task.end_time }}</td>
                        <td>{{ task.labor_item_number }}</td>
                        <td>{{ task.li_class }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p><em>There are no tasks</em></p>
        {% endif %}
    </section>
    <section>
        <form method="post" action="{% url 'kronos:timecard_review' timecard.id %}">
            {% csrf_token %}
            <p>
                <input type="submit" value="Mark as reviewed">
            </p>
        </form>
    </section>
{% endblock %}
