{% extends 'base.html' %}

{% block content %}
    <h1>Your completed timecards</h1>
    <section>
        {% if timecards %}
            {% for tc in timecards %}
                <h3>
                    <a href="{% url 'kronos:timecard_detail' tc.id %}">{{ tc.pay_period_start|date:"M d" }} - {{ tc.pay_period_end|date:"d, Y" }}</a>
                </h3>
            {% endfor %}
        {% else %}
            <p><em>You have no completed timecards</em></p>
        {% endif %}
    </section>
{% endblock %}
