{% extends 'base.html' %}

{% block content %}
    <h1>Your completed timecards</h1>
    <section>
        {% if timecards %}
            {% for timecard in timecards %}
                <h3>
                    <a href="{% url 'kronos:timecard_detail' timecard.id %}">{{ timecard.pay_period.start|date:"M d" }} - {{ timecard.pay_period.end|date:"d, Y" }}</a>
                </h3>
            {% endfor %}
        {% else %}
            <p><em>You have no completed timecards</em></p>
        {% endif %}
    </section>
{% endblock %}
