{% extends 'base.html' %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepickr.css' %}"/>
{% endblock %}

{% block content %}
    <div class="backlink">
        <span>←</span>
        <a href="{% url 'kronos:overview' %}">Back to overview</a>
    </div>

    <section class="detail">
        <form method="post" action="{% url 'kronos:timecard_add' %}">
            {% csrf_token %}
            <input type="hidden" name="employee" value="{{ user.id }}">
            <p>
                <select name="pay_period" required>
                <option value="" selected="selected">-------</option>
                {% if pay_periods %}
                    {% for pay_period in pay_periods %}
                        <option value="{{ pay_period.id }}">{{ pay_period.start|date:"M d" }} - {{ pay_period.end|date:"d, Y" }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            </p>
            <p>
                <input type="submit" value="Add this Timecard">
            </p>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'js/datepickr.js' %}"></script>
    <script>
        // Custom date format
        datepickr('.datepickr', { dateFormat: 'Y-m-d' });
    </script>
{% endblock %}
