html {
    font-size: 1.125em;
    }

body {
    max-width: 8.5in;
    margin: 1em;


    background-color: #fffff8;
    font-family: 'Andada', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #111111;
    }

/* Text Elements */
p,
ul,
ol {
    margin-bottom: 1.3em;
    }

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;

    }

h1 {
    margin-top: 0;
    font-size: 2.441em;
    }

h2 {
    font-size: 1.953em;
    }

h3 {
    font-size: 1.563em;
    }

h4 {
    font-size: 1.25em;
    }

h5 {
    font-size: 1em;
    margin-bottom: 1.3em;
    font-style: italic;
    }

a {
    color: #8aa12d;
    cursor: pointer;
    white-space: nowrap;
    }

small {
    font-size: 0.8em;
    }
hr {
    margin: 0;
    border: 2px solid #dddddd;
    }

blockquote {
    font-family: serif;
    }


/* Forms */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    }

input {
    font-weight: 400;
    outline: 0;
    }

label {
    font-weight: bold;
    }

input[type=text],
input[type=email],
input[type=password],
select[multiple=multiple],
textarea,
.action-button,
.datepickr {
    color: #111111;
    height: 2.75em;
    border: 4px solid #dddddd;
    padding: 1em;
    width: 100%;
    outline: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

input[type=submit],
.action-button {
    padding: 0.5em;
    border: none;
    box-shadow: 0 4px 0 #8aa12d;
    background-color: #8aa12d;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 4px 0 #6E8330;
    }
    
    input[type=submit]:active,
    .action-button:active {
        margin-top: 4px;
        margin-bottom: -4px;
        box-shadow: none;
        }

    input:focus,
    textarea:focus {
        border-color: #8aa12d;
        }

select[multiple=multiple] {
    height: 125px;
    }

input[type=number] {
    max-width: 150px;
    height: 3.32em;
    }

input[type=checkbox] {
    width: 1em;
    vertical-align: text-top;
    }

textarea {
    width: 100%;
    height: 100px;
    line-height: 1.45;
    }

::-webkit-input-placeholder {
    font-style: italic;
    }
::-moz-input-placeholder {
    font-style: italic;
    }
::-ms-input-placeholder {
    font-style: italic;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    }

table a {
    white-space: normal;
    }

td,
th {
    font-size: 0.75em;
    border: 1px solid #dddddd;
    padding: 2px 10px;
    }

/* Major Elements */
section {
    padding-bottom: 1.3em;
    }


/* Modules */
nav {
    border-bottom: 4px solid #dddddd;
    margin-bottom: 1.3em;
    text-align: center;
    }
nav a {
    text-decoration: none;
    padding: 0.125em 1em;
    display: table-cell;
    text-align: center;
    }

    nav a:hover {
        background-color: #8aa12d;
        color: #fffff8;
        }

    .logout {
        float: right;
        }

.task-section {
    border: 4px solid #dddddd;
    padding-right: 2em;
    padding-left: 2em;
    }

.error,
.delete {
    color: #e74c3c;
    }

/* Print settings */
@media print {
    header,
    footer {
        display: none;
    }
    html {
        font-size: 12pt;
    }
    body {
        margin: 1in;
        color: black;
    }

    a {
        text-decoration: none;
        color: black;
    }
}