@import url("../fonts/eau/stylesheet.css");                                   

html {
    font-size: 1.125em;
    }

body {
    max-width: 8.5in;
    margin: 0.25in 1em;

    background-color: #ecf0f1;
    font-family: 'eau_sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #2c3e50;
    }

/* Text Elements */
p,
ul,
ol {
    margin-bottom: 1.3em;
    }

h1,
h2,
h3,
h4 {
    font-size: 1em;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 1.3em;
    }

h1 {
    font-weight: 900;
    text-transform: uppercase;
    }

h2 {
    font-style: oblique;
    font-weight: 900;
    text-transform: uppercase;
    }

h3 {
    font-weight: 700;
    }

h4 {
    font-weight: 700;
    font-style: oblique;
    }

h5 {
    font-size: 1em;
    margin-bottom: 1.3em;
    font-style: oblique;
    }

a {
    color: #27ae60;
    cursor: pointer;
    white-space: nowrap;
    }

small {
    font-size: 0.8em;
    }
hr {
    margin: 0;
    border: 2px solid #bdc3c7;
    }

blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
    margin: 1.5em 0;
    padding: 0 15px;
    font-family: serif;
    }


/* Forms */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    }

input {
    font-weight: 400;
    outline: 0;
    }

label {
    font-weight: 700;
    }

input[type=text],
input[type=email],
input[type=password],
select[multiple=multiple],
textarea,
.action-button,
.datepickr {
    color: #2c3e50;
    height: 2.75em;
    border: 4px solid #bdc3c7;
    padding: 1em;
    width: 100%;
    outline: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

input[type=submit],
.action-button {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 900;
    padding: 0.5em 1em;
    border: none;
    background-color: #2ecc71;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 4px 0 #27ae60;
    }
    
    input[type=submit]:active,
    .action-button:active {
        margin-top: 4px;
        margin-bottom: -4px;
        box-shadow: none;
        }

    input:focus,
    textarea:focus {
        border-color: #2ecc71;
        }

select[multiple=multiple] {
    height: 125px;
    }

input[type=number] {
    max-width: 150px;
    height: 3.32em;
    }

input[type=checkbox] {
    width: 1em;
    vertical-align: text-top;
    }

textarea {
    width: 100%;
    height: 100px;
    line-height: 1.45;
    }

::-webkit-input-placeholder {
    font-style: oblique;
    }
::-moz-input-placeholder {
    font-style: oblique;
    }
::-ms-input-placeholder {
    font-style: oblique;
    }

table {
    background-color: #ffffff;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.3em;
    }

table a {
    white-space: normal;
    }
tr td {
    border: 1px solid #dddddd;
    }
td,
th {
    text-align: left;
    font-size: 0.85em;
    padding: 2px 10px;
    border: 1px solid #bdc3c7;
    }

/* Major Elements */
section {
    margin-bottom: 3em;
    }


/* Modules */
nav {
    }

nav a {
    font-weight: 700;
    font-size: 0.75em;
    margin-right: 1.25em;
    }
    
    .username,
    .login,
    .logout {
        float: right;
        margin-right: 0;
        }

.timecard_card {
    border: 1px solid #bdc3c7;
    box-shadow: 0 0 4px #bdc3c7;
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    margin-bottom: 1.3em;
 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    }

    .card {
        display: block;
        height: 100%;
        text-decoration: none;
        color: #2c3e50;
        padding: 1em;

       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
        }

.detail,
.timecard-detail {
    border: 1px solid #bdc3c7;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 4px #bdc3c7;
    }

.task-section {
    border: 4px solid #bdc3c7;
    padding-right: 2em;
    padding-left: 2em;
    }

.logo {
    font-size: 1.414em;
    color: #27ae60;
    text-decoration: none;
    }

.archived,
.review-timecards {
    float: right;
    }

.warning {
    color: #e67e22;
    }

.past-due {
    font-weight: 700;
    color: #c0392b;
    }

.not-reviewed,
.error,
.delete {
    color: #c0392b;
    }

/* **************** LAYOUT ***************** */
@media only screen and (min-width: 34em) {
    html {
        font-size: 1.125em;
        }

    body {
        margin: 0.5in auto;
        }

    }

@media only screen and (min-width: 54em) {
    nav a {
        font-size: 0.85em;
        }
    }

@media only screen and (min-width: 76em) {
    }

/* Print settings */
@media print {
    @page { size: landscape }
    
    input,
    .action-button,
    header,
    footer {
        display: none;
    }
    html {
        font-size: 12pt;
    }
    body {
        width: 100%;
        color: black;
    }

    a {
        text-decoration: none;
        color: black;
        }
}
