{% extends 'base.html' %}

{% block content %}
    <h1>Add a new Address</h1>

    <section>
        <form method="post" action="{% url 'hq:address_add' %}">
            {% csrf_token %}
            <p>
                <label for="street">Street</label>
                <br>
                <input type="text" name="street" placeholder="1037 Lawrence St">
            </p>
            <p>
                <label for="city">City</label>
                <br>
                <input type="text" name="city" placeholder="Port Townsend">
            </p>
            <p>
                <label for="state">State</label>
                <br>
                <input type="text" name="state" placeholder="WA">
            </p>
            <p>
                <label for="zip_code">Zip Code</label>
                <br>
                <input type="number" name="zip_code" placeholder="98368">
            </p>
            <p>
                <input type="submit" value="Add this Address">
            </p>
        </form>
    </section>
{% endblock %}
