{% extends 'base.html' %}

{% block content %}
<h1>Projects</h1>
<section>
    {% if projects %}
        {% for project in projects %}
            <h3><a href="{% url 'hq:project_detail' project.id %}">{{ project }}</a></h3>
        {% endfor %}
    {% else %}
        <p>There are no projects yet.</p>
    {% endif %}
    <p>
        <a class="action-button" href="{% url 'hq:project_add' %}">+ Add a new Project</a>
    </p>
</section>
<section>
    <h3>Addresses</h3>
    {% if addresses %}
        <ul>
        {% for a in addresses %}
            <li><a href="{% url 'hq:address_detail' a.id %}">{{ a }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no addresses yet.</p>
    {% endif %}
    <p>
        <a href="{% url 'hq:address_add' %}">+ Add a new Address</a>
    </p>
</section>
{% endblock %}