{% extends 'base.html' %}

{% block content %}
<section class="detail">
    <h1>Projects</h1>
    <a class="action-button" href="{% url 'hq:project_add' %}">Make a new Project</a>
    {% if projects %}
        {% for project in projects %}
            <p>
                <a href="{% url 'hq:project_detail' project.id %}"><strong>{{ project }}</strong></a>
                <br>
                {{ project.description }}
            </p>
        {% endfor %}
    {% else %}
        <p>There are no projects yet.</p>
    {% endif %}
</section>
<section class="detail">
    <h1>Addresses</h1>
    <a class="action-button small" href="{% url 'hq:address_add' %}">Add a new Address</a>
    {% if addresses %}
        <ul>
        {% for a in addresses %}
            <li><a href="{% url 'hq:address_detail' a.id %}">{{ a }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no addresses yet.</p>
    {% endif %}
</section>
{% endblock %}