{% extends 'base.html' %}

{% block content %}
    <h1>Add a new Project</h1>

    <section>
        <form method="post" action="{% url 'hq:project_add' %}">
            {% csrf_token %}
            <p>
                {{ form }}
            </p>
            <p>
                <small>Don't see the address you want? <a href="{% url 'hq:address_add' %}">+ Add a new address</a></small>
            </p>
            <p>
                <input type="submit" value="Add this Project">
            </p>
        </form>
    </section>
{% endblock %}
