{% extends 'base.html' %}

{% block content %}
    <div class="backlink">
        <span>←</span>
        <a href="{% url 'hq:overview' %}">Back to projects</a>
    </div>

    <section>
        <form method="post" action="{% url 'hq:project_add' %}">
            <section class="detail">
                {% csrf_token %}
                <p>
                    {{ form }}
                </p>
                <p>
                    <small>Don't see the address you want? <a href="{% url 'hq:address_add' %}">+ Add a new address</a></small>
                </p>
            </section>
            <input type="submit" value="Make this Project">
        </form>
    </section>
{% endblock %}
