{% extends 'base.html' %}

{% block content %}
    <section class="timecard-detail">
        {% if project.archived %}<span class="archived"><em>This project is archived</em></span>{% endif %}
        <h1>
            {{ project.name }}
        </h1>
        <h2>{{ project.description }}</h2>
        {% if project.address %}
            {% for address in project.address_set.all %}
                <address>
                    {{ address.street }}<br>
                    {{ address.city }}<br>
                    {{ address.state }}<br>
                    {{ address.zip_code }}<br>
                </address>
            {% endfor %}
        {% endif %}
        <p>
            <a href="{% url 'hq:project_archive' project.id %}" onclick="if (!confirm('Are you sure you want to archive this?')) return false;">Archive this project</a> or 
            <a class="delete" href="{% url 'hq:project_delete' project.id %}" onclick="if (!confirm('Are you sure you want to delete this?')) return false;">x delete this project</a>
        </p>
    </section>
{% endblock %}